name: Deploy to Dev

on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]

permissions:
  contents: read
  packages: read

jobs:
  deploy-dev:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.repository == 'ursalaan/devops-platform-3env' }}
    runs-on: [self-hosted, dev-runner]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy image to dev
        run: |
          kubectl -n dev set image deployment/api api=ghcr.io/ursalaan/devops-platform-3env:${{ github.event.workflow_run.head_sha }}
          kubectl -n dev set env deployment/api VERSION=${{ github.event.workflow_run.head_sha }}
          kubectl -n dev rollout status deployment/api
